body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #f3daff;
    background-color: #0C0C2C
}

#title {
    height: 200px;
    width: 200px;
}

#board {
    width: 360px;
    height: 360px;
    background-color: #e7b5ff;
    border: 10px solid #e7b5ff;
    border-radius: 5px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#board img {
    width: 118px;
    height: 118px;
    border: 1px solid  #36054c;
    
}

p {
    color: #e7b5ff;
    font-weight: 400;
}